


body{
    font-family: sans serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
    color:var(--main-color);

    height: 3000px;
}

.ScrollBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: seagreen;

}

.scrollBar__progress{
    height: 100%;
    background-color: violet;
    width: var(--width-progression-bar, 0%);
}
