body{
    font-family: sans serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
}

.slider{
    margin: 20px;
    
}
.slider__list{
    height: 60vh;
    padding: 0;
}
.slider__el { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    pointer-events: none;

    & img{
        height: auto;
        max-width:60%;

    }
    > :first-child{
        margin-right: -5%;


    }
    > :last-child{
        margin-left: -5%;


    }
}




.slider__content{
    background-color: aliceblue;
    padding:  15px 50px;
    z-index: 1;

}