html{
    scroll-behavior: smooth;
}


body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.section{
    height: 600px;
    margin: 50px 0;
}
.menu{
    position: fixed;
    left: 10px;
    top: 10px;
    /*scroll-target-group:auto;*/
}

.menu__el--active a{
    color: red;
}

/* seulement sur chrome 140
.menu__el a:target-current{
    color: red;
}
    */