body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
    background-color: rgb(205, 201, 201);
    box-sizing: border-box;
}


.Tabs{
    margin:0 5%;
    display: flex;
    flex-direction: column;
}

.Tabs__element{
    color: black;
    text-decoration: none;
    font-weight: 600;   
    padding-top: 8px;
    display: flex;
    width: 100px;
    height: 30px;
    list-style: none;
    background-color: rgb(222, 222, 222);
    justify-content: center;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}


.Tabs__element--active{
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: white;
    height: 40px;
    
}

.Tabs__menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin-bottom: 0;
}

.Tabs__text{
    margin: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.text__bloc{
    
    /*display: none;*/
    padding: 10px;
    background-color: white;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
}


.text__title{
    margin: 0;
    padding: 20px 0 0 0 ;

}