body{
    font-family: sans serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;

}



.menu__list {
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 30px;
        width: 100%;
    
    }



.no-scroll{
    overflow-y: hidden;
}


.menu__toggle{
    display: none
}
@media (max-width : 600px){

    .menu__toggle{
        display: block;
        position: fixed;
        top: 20px;
        right: 20%;
        cursor: pointer;

    }
    .menu__list {
        display: flex;
        flex-direction: column;
        position:fixed;
        gap: 10px;
        width:100% ;
        height:100%;
        background-color: indianred;
        z-index:10;

        transform: translateX(-100%);
        transition: transform ease-in-out 1s;
    }

    .menu--open .menu__list{
        transform: translateX(0);
    }
}