body{
    font-family: sans serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
}

@media (max-width : 600px){

    .menu__toggle{
        position: absolute;
        top: 20px;
        right: 20%;
    }
    .menu__list {

        position:fixed;
        top: 0;
        left: 0;
        width:100% ;
        height:100%;
        background-color: indianred;
        margin: 0;
        z-index:10;
        display: none;
    }

    .menu--open .menu__list{
        display: block;
    }
}