body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;

}



.menu__list {
        display: flex;
        flex-direction: row;
        margin:0 ;
        padding: 50px 20px ;
        gap: 30px;
        width: 100%;
        list-style: none;
    
    }



.no-scroll{
    overflow-y: hidden;
}
.menu__el a{            text-decoration: none;}
.menu__el--shut{
    display: none;
}

.menu__toggle{
    display: none
}
@media (max-width : 600px){

    .menu__el {
        & a{

            color: white;
        }
    }

    .menu__toggle{
        display: block;
        position: fixed;
        top: 20px;
        right: 20%;
        cursor: pointer;

    }
    .menu__list {
        display: flex;
        flex-direction: column;
        position:fixed;
        gap: 10px;
        width:100% ;
        height:100%;
        background-color: rgb(0, 0, 0);
        z-index:10;

        transform: translateY(-100%);
        transition: transform ease-in-out 0.6s;
    }

    .menu--open .menu__list{
        transform: translateY(0) ;
        
    }
    .menu__el--shut{
        display:list-item;
    }

}