
html{
    scroll-behavior: smooth;
}

body{
    font-family: sans serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;

/* a supprimer*/
    height: 3000px;
}

.BackToTop{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 500px;
    position: fixed;
    bottom: 8%;
    right: 5%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.BackToTop--show{

    display: inline-block;
}